# --- FRONTEND (client) ---
client/node_modules/
node_modules/

# --- BACKEND ---
server/.venv/
**__pycache__/
server/*.pyc


# --- STORAGE & DATA ---
storage/

# --- IDE ---
.vscode/
.idea/

# --- ENVIRONMENT ---
.env
devtools.txt

